
html, body {
    width: 100%; height: 100%; padding: 0; margin: 0; box-sizing: border-box;
    background-color: whitesmoke;
}

#app {
    width: 100%; height: 100%; padding: 0; margin: 0; box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.mtg-search-popup-container {
    width: 100%; height: 80%; max-height: 80%;
}

.main-container {
    width: 100%; height: 100%;
    display: flex; flex-flow: column;
    align-items: center;
}

.title {
    width: 100%; height: 40px;
    text-align: center;
    font-size: 20px;
    font-family: "serif";
}

.tmp-container {
    width: 100%; height: 100%;
    display: flex; flex-flow: column;
}
.tmp-container-row {
    width: 100%; height: 100%;
    display: flex; flex-flow: row;
}
.tmp-container-column {
    width: 100%; height: 100%;
    display: flex; flex-flow: column;
}
.tmp-menu {
    width: 100px; max-width: 100px;
    height: 100%;
    display: flex; flex-flow: column;
    // background: #4ca2cd;  /* fallback for old browsers */
    border-right: solid 1px gray;
    // background-color: rgb(74, 145, 227);
    // background-color: rgb(40, 208, 192);
    // background-color: rgb(217, 53, 70);
    // background-color: rgb(164, 0, 8);
    // background-color: rgb(242, 145, 126);
    // background-color: rgb(250, 171, 47);
    // background-color: rgb(196, 11, 42);
}
.tmp-menu-button {
    padding: 10px 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    // color: white;
}
.tmp-menu-button:hover {
    font-weight: bold;
    // background-color:  whitesmoke;
    // color: black;
    // border-right: solid 3px white;
    border-right: solid 3px black;
}

.mtg-list-container {
    width: 400px; max-width: 400px;
    height: 100%;
    display: flex; flex-direction: column;
    height: calc(100vh - 39px);
    border-right: solid 1px gray;
}
.mtg-info-container {
    width: 50%;
    height: 100%;
    display: flex; flex-direction: column;
    // height: calc(100vh - 39px);
    border-right: solid 1px gray;
    // background-color: rgb(226, 228, 199);
}
