

.mtg-all-cards-view {
    width: 100%; height: 100%;
    display: flex; flex-flow: column;
    // padding: 5px;
    // background-color: red;
    // box-sizing: content-box;
    // background-color: rgb(232, 240, 255);
    // background-color: rgb(255, 242, 208);
    // background-color: rgb(32, 32, 32);
    // background-color: rgb(244, 165, 0);
    background-color: rgb(247, 248, 249);
}


.mtg-acv-header {
    width: 100%;
    // height: 30px; min-height: 30px;
    display: flex; flex-flow: row;
    padding: 5px;
    flex-shrink: 0;
    // background-color: rgb(232, 240, 255);
}

.mtg-acv-filter {
    width: 100%;
    font-size: 12px;
    padding: 5px;
}

.mtg-acv-cards {
    width: 100%;
    height: 100%;
    flex-grow: 1;

    overflow-y: auto;
    padding: 5px;
    margin: 10px 0;
}

.mtg-acv-footer {
    width: 100%;
    height: 50px; min-height: 50px;
    display: flex; flex-flow: row;
    // padding: 5px;
    flex-shrink: 0;
    min-height: 30px;
    padding: 5px;
    // background-color: rgb(232, 240, 255);
    // border-top: solid 1px gray;
}

.mtg-acv-add-card {
    width: 100%;
    // height: 30px;
    padding: 5px;
    font-size: 15px;
    background-color: rgba(74, 145, 227, 1);
    background-color: rgb(72, 138, 255);
    background-color: rgb(226, 228, 199);
    background-color: rgb(44, 155, 175);
    background-color: lightgrey;
    background-color: rgb(24, 143, 255);
    color: white;
    // background-color: rgba(74, 145, 227, 0);
    // color: black;
    font-weight: bold;
    outline: 0;
    border: 0;
    cursor: pointer;
}
