

.mtg-card-details-info-container {
    width: 100%;
    display: flex; flex-direction: column;
    padding: 5px;
}

.mtg-card-details-info-label {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}

.mtg-card-details-info-object {
    width: 100%;
    font-size: 15px;
    margin-left: 15px;
}
